<h1>All Charities</h1>

  <ul>
    <% @charities.each do |charity| %>
      <li>
        <%= link_to charity.name, charity_path(charity) %>
      </li>
    <% end %>
  </ul>

<%= link_to 'All Ferrets', ferrets_path %> |
<%= link_to 'All Tunnels', tunnels_path %>
