<h1>All Charities</h1>


    <% @charities.each do |charity| %>
      <tr>
        <td><%= charity.name %></td>
        <td><%= charity.main_focus %></td>
      </tr>
    <% end %>

<%= link_to 'All Ferrets', ferrets_path %>
